<ion-header>
  <ion-toolbar>
    <ion-title>فرم جدید</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  عنوان
  <ion-input type="text" [(ngModel)]="data.title" name=title>

  </ion-input>
  دوره گزارش


  <ion-item>
    <ion-label>استان</ion-label>
    <ion-select placeholder="انتخاب یک گزینه">
      <ion-select-option *ngFor="let item of ostans" value="{{item.Title}}">{{item.Title}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>دوره</ion-label>
    <ion-select placeholder="انتخاب یک گزینه">
      <ion-select-option *ngFor="let item of dores" value="{{item.Title}}">{{item.Title}}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <ion-item>
    <ion-label>From</ion-label>
    <ion-datetime (ngModelChange)="change(datePicker)" displayFormat="YYYY/MM/DD" [(ngModel)]="data.fromDate"
      name=date1>
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>To</ion-label>
    <ion-datetime #datePicker displayFormat="YYYY/MM/DD" [(ngModel)]="data.toDate" name=date2>
    </ion-datetime>
  </ion-item> -->
  <ion-row>
    <ion-col col-3>

      تطابق ثبت نام پرونده و تشکیل پرونده

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_kol_Parvandeh" name=Tedad_kol_Parvandeh>

      </ion-input>

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_Parvandeh" name=Baresi_Parvandeh>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_kol_Parvandeh/data.Baresi_Parvandeh*100)}}" name=Baresi_parrvandee>

      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>

      تطابق فرآیند مطالعه و طراحی

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_Motale_Tarahi" name=Tedad_Motale_Tarahi>

      </ion-input>

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_motale_Tarihi" name=Baresi_motale_Tarihi>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_Motale_Tarahi/data.Baresi_motale_Tarihi*100)}}" name=Baresi_tarahi>

      </ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-3>
      تطابق فرآیند ارجاع و اجرای قرارداد

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_Erjae_Kar" name=Tedad_Erjae_Kar>

      </ion-input>
    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_ejrae_kar" name=Baresi_ejrae_kar>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_Erjae_Kar/data.Baresi_ejrae_kar*100)}}" name=BaresiEjraakar>

      </ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col col-3>
      تطابق فرآیند تامین لوازم و تجهیزات

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" [(ngModel)]="data.Tedad_Tamin_Tajhizat" name=Tedad_Tamin_Tajhizat>

      </ion-input>
    </ion-col>
    <ion-col col-3>

      <ion-input type="number" [(ngModel)]="data.Baresi_Tamin_Tajhizat" name=Baresi_Tamin_Tajhizat>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_Tamin_Tajhizat/data.Baresi_Tamin_Tajhizat*100)}}"
        name=Baresi_Tamin_Tajhizatm>

      </ion-input>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-3>
      تطابق فرآیند اجرای

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_ejra" name=Tedad_ejra>

      </ion-input>
    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_Ejra" name=Baresi_Ejra>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_ejra/data.Baresi_Ejra*100)}}" name=Baresi_Ejram>

      </ion-input>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-3>
      تطابق فرآیند تحویل

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_Tahvil" name=Tedad_Tahvil>

      </ion-input>
    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_Tahvil" name=Baresi_Tahvil>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_Tahvil/data.Baresi_Tahvil*100)}}" name=Baresi_Tahvilm>

      </ion-input>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-3>
      تطابق فرآیند بهره برداری

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_Bahrebardari" name=Tedad_Bahrebardari>

      </ion-input>
    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_Bahrebardari" name=Baresi_Bahrebardari>

      </ion-input>

    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_Bahrebardari/data.Baresi_Bahrebardari*100)}}"
        name=Baresi_Bahrebardarim>

      </ion-input>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-3>
      مطابق فرآیند مستندسازی

    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Tedad_Mostanadsazi" name=Tedad_Mostanadsazi>

      </ion-input>
    </ion-col>
    <ion-col col-3>
      <ion-input type="number" [(ngModel)]="data.Baresi_Mostanadsazi" name=Baresi_Mostanadsazi>

      </ion-input>


    </ion-col>
    <ion-col col-3>

      <ion-input type="number" value="{{(data.Tedad_Mostanadsazi/data.Baresi_Mostanadsazi*100)}}"
        name=Baresi_Mostanadsazin>

      </ion-input>
    </ion-col>
  </ion-row>

  میانگین درصد تحقق

  <ion-input type="text" [(ngModel)]="spt9">
  </ion-input>
  فایل ضمیمه

  <ion-input type="text" [(ngModel)]="spt10">
  </ion-input>
  توضیحات

  <ion-input type="text" [(ngModel)]="spt11">
  </ion-input>

  <ion-button (click)="save()">ذخیره</ion-button>
</ion-content>