<ion-header>
  <ion-toolbar>
    <ion-title>کل فرم ها</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <button (click)="add()">
      فرم جدید
    </button>
  </div>
  
  <ul class="products">
    <li *ngFor="let p of forms; let i=index;">
      <a routerLink="/form-details/{{p.Id}}">
        <span class="badge">{{i+1}}</span> عنوان {{p.Title}} -کاربر:  {{p.Author.Title}} -ویرایش شده توسط:  {{p.Editor.Title}} 
      </a>
      <button class="delete" title="delete"
        (click)="delete(p.Id)">x</button>
    </li>
  </ul>
</ion-content>
